#search-bar {
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 20px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

.searchable {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
